<%- include('../partials/header') %>

    <div class="container py-5">

        <div class="d-flex
justify-content-between
align-items-center
mb-4">

            <h2>

                Admin Dashboard

            </h2>

            <a href="/admin/logout" class="btn btn-danger">

                Logout

            </a>
            <a href="/admin/add-product" class="btn btn-success mb-4">

                Add Product

            </a>

        </div>


        <table class="table table-bordered">

            <tr>

                <th>ID</th>

                <th>Image</th>

                <th>Name</th>

                <th>Brand</th>

                <th>Action</th>

            </tr>


            <% products.forEach(product=> { %>

                <tr>

                    <td>
                        <%= product.id %>
                    </td>

                    <td>

                        <img src="/images/<%= product.image %>" width="60">

                    </td>

                    <td>
                        <%= product.name %>
                    </td>

                    <td>
                        <%= product.brand %>
                    </td>

                    <td>

                        <a href="#" class="btn btn-primary btn-sm">

                            Edit

                        </a>

                        <a href="#" class="btn btn-danger btn-sm">

                            Delete

                        </a>

                    </td>
                    <td>

                        <a href="/admin/edit-product/<%= product.id %>" class="btn btn-primary btn-sm">

                            Edit

                        </a>

                        <a href="/admin/delete-product/<%= product.id %>" class="btn btn-danger btn-sm">

                            Delete

                        </a>

                    </td>

                </tr>

                <% }) %>

        </table>

    </div>

    <%- include('../partials/footer') %>