<%- include('partials/header') %>

    <div class="container py-5">

        <div class="row">

            <!-- IMAGE -->

            <div class="col-lg-6">

                <img src="/images/<%= product.image %>" class="img-fluid single-image" alt="<%= product.name %>">

            </div>


            <!-- CONTENT -->

            <div class="col-lg-6">

                <h1 class="mb-4">

                    <%= product.name %>

                </h1>


                <p class="mb-4">

                    <%= product.short_description %>

                </p>


                <table class="table table-bordered">

                    <tr>

                        <th>Brand</th>

                        <td>
                            <%= product.brand %>
                        </td>

                    </tr>


                    <tr>

                        <th>Type</th>

                        <td>
                            <%= product.type %>
                        </td>

                    </tr>


                    <tr>

                        <th>Current Rating</th>

                        <td>
                            <%= product.currentRating %>
                        </td>

                    </tr>


                    <tr>

                        <th>Curve Type</th>

                        <td>
                            <%= product.curveType %>
                        </td>

                    </tr>


                    <tr>

                        <th>Poles</th>

                        <td>
                            <%= product.poles %>
                        </td>

                    </tr>

                </table>


                <!-- DOWNLOAD PDF -->

                <% if(product.pdf){ %>

                    <a href="/pdf/<%= product.pdf %>" class="btn btn-primary" target="_blank">

                        Download PDF

                    </a>
                    <a href="https://wa.me/919999999999?text=I want inquiry for <%= product.name %>" target="_blank"
                        class="btn btn-success ms-2">

                        WhatsApp Inquiry

                    </a>


                    <% } %>




            </div>

        </div>

    </div>


    <div class="container py-5">

        <h3 class="mb-4">

            Related Products

        </h3>

        <div class="row">

            <% relatedProducts.forEach(item=> { %>

                <div class="col-lg-3 mb-4">

                    <a href="/product/<%= item.slug %>" class="product-link">

                        <div class="card product-card">

                            <img src="/images/<%= item.image %>" class="product-image">

                            <div class="card-body">

                                <h5>
                                    <%= item.name %>
                                </h5>

                            </div>

                        </div>

                    </a>

                </div>

                <% }) %>

        </div>

    </div>

    <%- include('partials/footer') %>