<%- include('../partials/header') %>

    <style>
        body {
            background: #ffffff;
        }
    </style>

    <section class="single-product-page">

        <div class="container-fluid padding-x">

            <div class="breadcrumb">

                <div class="d-flex align-items-center">

                    <a href="/">Home</a>

                    <span class="mx-2" style="font-weight: 400; color: #999;">&gt;</span>

<!-- 
                    <a href="/products/<%= product.category.toLowerCase().replace(/\s+/g,'-') %>">
                        <%= product.category %>
                    </a> -->
                    <a href="/products/<%= product.category.toLowerCase().replace(/\s+/g,'-') %>/<%= product.brand.toLowerCase().replace(/\s+/g,'-') %>">
                        <%= product.category %>
                    </a>

                <span class="mx-2" style="font-weight: 400; color: #999;">&gt;</span>


                    <a
                        href="/products/<%= product.category.toLowerCase().replace(/\s+/g,'-') %>/<%= product.brand.toLowerCase().replace(/\s+/g,'-') %>">
                        <%= product.brand %>
                    </a>

                <span class="mx-2" style="font-weight: 400; color: #999;">&gt;</span>


                    <!-- <a
                        href="/products/<%= product.category.toLowerCase().replace(/\s+/g,'-') %>/<%= product.brand.toLowerCase().replace(/\s+/g,'-') %>/<%= product.subcategory.toLowerCase().replace(/\s+/g,'-') %>">
                        <%= product.subcategory %>
                    </a> -->
                    <a
                        href="/products/<%= product.category.toLowerCase().replace(/\s+/g,'-') %>/<%= product.brand.toLowerCase().replace(/\s+/g,'-') %>">
                        <%= product.subcategory %>
                    </a>


                    <strong>
                        <%= product.name %>
                    </strong>

                </div>

            </div>

        </div>

    </section>

    <section class="single-product-section">

        <div class="container-fluid padding-x">

            <div class="row justify-content-between ">

                <!-- PRODUCT IMAGES -->

                <div class="col-md-5">

                    <div class="product-gallery">

                        <div class="main-image">

                            <img id="mainProductImage" src="/images/<%= product.image %>" alt="<%= product.name %>">

                        </div>

                        <div class="thumbnail-wrapper row justify-content-center-lg justify-content-start align-items-center">
<div class="col-lg-4 col-2">
    <div class="thumbnail col-lg-4 active">
    
        <img class="thumb" src="/images/<%= product.image %>" onclick="changeImage(this)">
    
    </div>
</div>
                          

                            <% if(product.image2){ %>
<div class="col-lg-4 col-2">
    <div class="thumbnail  ">
    
        <img class="thumb" src="/images/<%= product.image2 %>" onclick="changeImage(this)">
    
    </div>
</div>
                                

                                <% } %>

                                    <% if(product.image3){ %>
<div class="col-lg-4 col-2">
    <div class="thumbnail col-lg-4 ">
    
        <img class="thumb" src="/images/<%= product.image3 %>" onclick="changeImage(this)">
    
    </div>
</div>
                                      

                                        <% } %>

                        </div>

                    </div>

                </div>

                <!-- PRODUCT DETAILS -->

                <div class="col-md-6">

                    <div class="product-details">

                    <h1 class="product-title">
                        <%= product.name %>
                    </h1>
                    
                    <hr>
                    
                    <!-- Variant Section -->
                    
                    <div class="variant-section mt-4 mb-4">
                    
                        <div class="row g-2">
                    
                            <% if(product.variant1_name){ %>
                                <div class="col-lg-3 col-6">
                                    <button class=" w-100 variant-btn active" data-variant="1">
                    
                                        <strong>
                                            <%= product.variant1_name %>
                                        </strong><br>
                    
                                        <small>
                                            <%= product.variant1_catalogue %>
                                        </small>
                    
                                    </button>
                                </div>
                                <% } %>
                    
                                    <% if(product.variant2_name){ %>
                                        <div class="col-lg-3 col-6">
                                            <button class=" w-100 variant-btn" data-variant="2">
                    
                                                <strong>
                                                    <%= product.variant2_name %>
                                                </strong><br>
                    
                                                <small>
                                                    <%= product.variant2_catalogue %>
                                                </small>
                    
                                            </button>
                                        </div>
                                        <% } %>
                    
                                            <% if(product.variant3_name){ %>
                                                <div class="col-lg-3 col-6">
                                                    <button class=" w-100 variant-btn" data-variant="3">
                    
                                                        <strong>
                                                            <%= product.variant3_name %>
                                                        </strong><br>
                    
                                                        <small>
                                                            <%= product.variant3_catalogue %>
                                                        </small>
                    
                                                    </button>
                                                </div>
                                                <% } %>
                    
                                                    <% if(product.variant4_name){ %>
                                                        <div class="col-lg-3 col-6">
                                                            <button class=" w-100 variant-btn" data-variant="4">
                    
                                                                <strong>
                                                                    <%= product.variant4_name %>
                                                                </strong><br>
                    
                                                                <small>
                                                                    <%= product.variant4_catalogue %>
                                                                </small>
                    
                                                            </button>
                                                        </div>
                                                        <% } %>
                    
                        </div>
                    
                    </div>
                    
                    <hr>
                    
                    <ul class="mt-lg-5">

                            <% if(product.description){ %>

                                <% product.description.split('\n').forEach(function(line){ %>

                                    <li class="product-description">
                                        <%= line %>
                                    </li>

                                    <% }) %>

                                        <% } %>

                        </ul>

                        <div class="product-actions">

                            <a href="/contact" class="btn btn-theme-danger">
                                Enquiry
                            </a>

                            <!-- <% if(product.pdf){ %>

                                <a href="/pdf/<%= product.pdf %>" class="btn btn-theme-outline" download>
                                    Download
                                </a>

                                <% } %> -->

                             

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-theme-outline" data-bs-toggle="modal" data-bs-target="#model-download">
                                    Download
                                </button>
                                
                                <!-- Modal -->
                            <div class="modal fade" id="model-download" tabindex="-1">
                            
                                <div class="modal-dialog modal-dialog-centered">
                            
                                    <div class="modal-content">
                            
                                        <div class="modal-header">
                                      
                            
                                            <button type="button" class="btn-close" data-bs-dismiss="modal">
                                            </button>
                            
                                        </div>
                            
                                        <div class="modal-body">
                            
<div class="row justify-content-between align-items-start">
    <div class="col-md-5">
          <h5 class="modal-title">Downloads</h5>
        <p>
            <i class="fa-solid fa-circle"></i>
        
            <a id="datasheetLink" href="/pdf/<%= product.variant1_datasheet || product.pdf %>" class="" target="_blank">
                Product Data Sheet
            </a>
        
        </p>
        
        <p>
        
            <i class="fa-solid fa-circle"></i>
            <a id="catalogLink" href="/pdf/<%= product.variant1_catalog || product.catalog_pdf %>" class="" target="_blank">
                Product Catalog
            </a>
        
        </p>
        
        <% if(product.category && product.category.toLowerCase()==="distribution boards" ){ %>
        
            <p id="installationRow">
        
                <i class="fa-solid fa-circle"></i>
        
                <a id="installationLink" href="/pdf/<%= product.variant1_installation %>" class="" target="_blank">
                    Installation Sheet
                </a>
        
            </p>
        
            <% } %>
    </div>
    <div class="col-md-7">
        <img  src="/images/<%= product.image %>" alt="<%= product.name %>" class="img-fluid" >

    </div>
</div>

                                          
                            
                                        </div>
                            
                                    </div>
                            
                                </div>
                            
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <section class="related-products">

        <div class="container-fluid padding-x">

            <div class="section-header">

                <h2>Related Products</h2>

                <div class="slider-buttons">

                    <button id="prevBtn">

                        <img src="/images/arrow-right-single-product.svg" alt="">

                    </button>

                    <button id="nextBtn">

                        <img src="/images/arrow-right-product-single.svg" alt="">

                    </button>

                </div>

            </div>

            <div class="related-slider" id="relatedSlider">

                <% relatedProducts.forEach(function(item){ %>

                    <div class="related-card">

                        <a href="/product/<%= item.slug %>" class="text-decoration-none text-dark">

                            <div class="related-card-img">

                                <img src="/images/<%= item.image %>" alt="<%= item.name %>">

                            </div>

                            <h5>
                                <%= item.name %>
                            </h5>

                        </a>

                    </div>

                    <% }) %>

            </div>

        </div>

    </section>

    <!-- <script>

        function changeImage(element) {

            document.getElementById("mainProductImage").src =
                element.src;

            document.querySelectorAll(".thumb")
                .forEach(img => img.classList.remove("active"));

            element.classList.add("active");
        }

        const slider =
            document.getElementById("relatedSlider");

        document.getElementById("nextBtn")
            ?.addEventListener("click", () => {

                slider.scrollBy({
                    left: 350,
                    behavior: "smooth"
                });

            });

        document.getElementById("prevBtn")
            ?.addEventListener("click", () => {

                slider.scrollBy({
                    left: -350,
                    behavior: "smooth"
                });

            });

    </script> -->




    <%- include('../partials/footer') %>


    <script>
    console.log("<%= product.variant1_datasheet %>");
    console.log("<%= product.variant2_datasheet %>");
    console.log("<%= product.variant3_datasheet %>");
    console.log("<%= product.variant4_datasheet %>");
        const variants = {
            1: {
                datasheet: "<%= product.variant1_datasheet %>",
                catalog: "<%= product.variant1_catalog %>",
                installation: "<%= product.variant1_installation %>"
            },
            2: {
                datasheet: "<%= product.variant2_datasheet %>",
                catalog: "<%= product.variant2_catalog %>",
                installation: "<%= product.variant2_installation %>"
            },
            3: {
                datasheet: "<%= product.variant3_datasheet %>",
                catalog: "<%= product.variant3_catalog %>",
                installation: "<%= product.variant3_installation %>"
            },
            4: {
                datasheet: "<%= product.variant4_datasheet %>",
                catalog: "<%= product.variant4_catalog %>",
                installation: "<%= product.variant4_installation %>"
            }
        };

    </script>

    <script>

        const buttons = document.querySelectorAll(".variant-btn");

        buttons.forEach(button => {

            button.addEventListener("click", function () {


                
                buttons.forEach(btn => btn.classList.remove("active"));

                this.classList.add("active");

                const variant = variants[this.dataset.variant];

                if (!variant) return;

                document.getElementById("datasheetLink").href =
                    "/pdf/" + variant.datasheet;

                document.getElementById("catalogLink").href =
                    "/pdf/" + variant.catalog;

                const installation = document.getElementById("installationLink");

                if (installation) {
                    installation.href =
                        "/pdf/" + variant.installation;
                }

            });

        });

    </script>